body {
  background-color: #f2f4fc;
  font-family: Roboto, sans-serif;
  border: 1px solid black;
  min-width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#enlaces {
  margin: 0em 2em 0em 2em;
  word-spacing: 20px;
}
button {
  background-color: #072ac8;
  color: white;
  width: 7em;
  height: 3em;
  border: none;
}
button:hover {
  background-color: #292e47;
}
a {
  text-decoration: none;
}

@media screen {
}
